.shadow {
    box-shadow: 0px -5px 20px #E5E5E5;
}


.box_end {
    margin-top: 50px;
    padding-top: 50px;
}

.box_end_1 {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1400px){
    .box_end_1 {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
}


.box_button_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box_button_text p {
    font-family: Lab Grotesque;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: none;
    text-transform: uppercase;
    border-bottom: 2px solid #777777;
    font-size: 20px;
    line-height: 24px;
    color: #111111;
    opacity: 0.7;
}

.box_button_icon {
    display: flex;
    flex-direction: column;
    width: 450px;
}


._button_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media (max-width: 760px){
    ._button_icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 250px;
    }
}


._button_icon a img {
    filter: grayscale(100%);
    padding-top: 10px;
    width: 60px;
    height: 30px;
}


.text_button_icon img {
    width: 40px;
    height: 25px;
}


.text_button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
}


.facebook , .instagram , .telegram {
   display: flex;
   align-items: center;
   margin-top: 10px;
}



.facebook a {
    margin-left: 15px;
}


.instagram a {
    margin-left: 15px;
}

.telegram a {
    margin-left: 15px;
}


.text_button a , .text_button_icon a {
    font-family: Lab Grotesque;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 17px;
    line-height: 35px;
    color: #333333;
    opacity: 0.7;
}


@media (max-width: 760px){
    .text_button a , .text_button_icon a {
        text-decoration: none;
        font-weight: normal;
        font-size: 15px;
        line-height: 35px;
        color: #333333;
        opacity: 0.7;
    }
}


.text_info {
    font-family: Lab Grotesque;
    height: 100px;
    margin-top: 20px; 
    font-weight: 400;  
    font-size: 16px;
    line-height: 29px;
    color: #555555;

}

@media (max-width: 760px){
    .text_info {
        margin-top: 0px;
        text-align: center;
        font-size: 15px;
        line-height: 29px;
        color: #555555;
    
    }
}


