@media (max-width: 900px){
    
}

@media (max-width: 900px){
    .block_childhood {
        display: flex;
        justify-content: space-around;
        flex-direction: column; 
     }
}

@media (max-width: 900px){
    .block_text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 900px){
    .block_text div {
        margin: 0px;
        display: flex;
        margin-left: 20px;
        align-items: center;
    }
}

@media (max-width: 900px){
    .block_icon_logo {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-right: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 900px){
    .block_icon_logo img{
        width: 110px;
        margin-right: 0px;
    }
}

@media (max-width: 900px){
    .block_icons_text {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0px;
    }
}

@media (max-width: 900px){
    .block_icons_text div{
        display: flex;
        justify-content: center;
        height: 30px;
        margin: 10px;
    }
}

@media (max-width: 900px){
    .block_text a , .block_icons_text a{  
        font-family: Lab Grotesque;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        text-decoration: none;
        height: 20px;
        margin-top: 0px;
    }
}

@media (max-width: 900px){
    .block_text_H4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 900px){
    .block_text_H4 h4 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 250;
        font-size: 28px;
        line-height: 38px;
        color: #FFFFFF;
    
    }
}

@media (max-width: 900px){
    .block_button_child {
        width: 200px;
        height: 40px;
        margin-bottom: 30px;
        text-align: center;
        background: rgba(255, 255, 255, 0.2);
        border: 2px solid #FFFFFF;
    }
}

@media (max-width: 900px){
    .block_button  a {
        position: relative;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 40px;
        color: #FFFFFF;
    }
}