@media (max-width: 1500px){
    .second_block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

@media (max-width: 700px){
    .second_block_child {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1500px){
    .second_block_img_shirt {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1500px){
    .second_block_img_shirt img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1000px){
    .second_block_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 10px;
        width: 450px;
    }   
}

@media (max-width: 1000px){
    .second_block_text_h4 h4 {
        margin: 0px;
        font-size: 30px;
        color: #555555;
    }    
}

@media (max-width: 1100px){
    .second_block_text_p {
        width: 450px;
     }
}

@media (max-width: 1100px){
    .second_block_text_p p {
        font-weight: 280;
        font-size: 16px;
        line-height: 104%;
        color: #555555;
    }  
}

@media (max-width: 1100px){
    .second_block_text_button {
        width: 200px;
        border: 2px solid #555555;
        box-sizing: border-box;
    }
}

@media (max-width: 1100px){
    .second_block_text_button a {
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        color: #555555;
    } 
}