/* *{
    border: 1px solid red;
} */

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lab Grotesque;
    font-style: normal;
    padding-top: 50px;
}

.block div {
    height: 300px;
    width: 900px;
}

.block .p {
    font-weight: 300;
    font-size: 26px;
    line-height: 42px;
    text-transform: uppercase;
    color: #555555;

}


.block p {
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    color: #999999;

}